<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/noise_logo_start"
        android:label="Noise Cancelling"
        android:roundIcon="@drawable/noise_logo_start"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoiseCancelling">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
